<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="E:/Selenium/Real_Life_Project/src/test/java/com/swag_labs/TestCases"><classes><class name="com.swag_labs.TestCases.TC_LoginPageTest"><methods><include name="Verification_of_Sauce_Demo_Login_Page_Display"/><include name="Verify_Log_In_with_Empty_Required_Fields"/><include name="Check_User_Log_In_with_Invalid_Name"/><include name="Log_In_with_an_Invalid_Password"/><include name="Log_In_with_Both_User_Name_and_Password_Invalid"/><include name="Log_In_with_Both_Email_and_Password_Valid"/></methods></class><class name="com.swag_labs.TestCases.TC_ProductPageTest"><methods><include name="Verification_of_Sauce_Demo_Login_Page_Display"/></methods></class></classes></test></suite>